<div class="foot-container">
    <span class="name">Thalia Nyora Website</span>
  
  <!-- social media links -->
  <span class="social-media">
    <a href="https://www.facebook.com/RutgersCommInfo" class="fa fa-facebook-square"></a>
    <a href="https://www.twitter.com/RutgersCommInfo" class="fa fa-twitter-square"></a>
    <a href="https://www.youtube.com/RutgersCommInfo" class="fa fa-youtube-square"></a>
    <a href="https://www.linkedin.com/groups?home=&gid=2941903" class="fa fa-instagram"></a>
  </span>  

  <span class="copyright">Copyright © 2021	Thalia, the State University of New Jersey.</span>
  
  <!-- quick acces links -->
  <span class="quick-access">
      <a href="https://comminfo.rutgers.edu/about-sc-i/contact-sc-i.html">Contact Us</a>
      <a href="https://comminfo.rutgers.edu/main/site-login.html">Login</a>
  </span>  
</div>