<section style="flex-flow: column; padding: 1.5em;">
    <div>
        <div class="image-container">
            <img src="../../assets/images/gallery/IMG_0986.JPG" class="home-image" />
            
        </div>
        <div  class="text-container">
            <h1 class="about-header">About Me</h1>
            <div style="text-align: left;">
               <p style="font-family:patrick hand,cursive;">
                As a creative individual, I’ve always loved having the opportunity to share my ideas, opinions and talents with others around me. My videos have provided such a wonderful outlet to do exactly that.
                <br><br>
                I believe in staying true to my brand, my followers and myself. Creating unique and interesting content is my main priority, and I invite you to take a dive into my world. Keep exploring to view my videos, check out recent news and so much more. If you’d like to chat, don’t hesitate to get in touch!
               </p>
            </div>
    
        </div>
        
    </div>
    
</section>