<section style="flex-flow: column; padding: 1.5em;">
    <div>
        <div  class="text-container">
            <h1 class="about-header">My Story</h1>
            <div style="text-align: left;">
               <p style="font-family:patrick hand,cursive;">
                I am a princess and all girls are. Try to be kind, try to be generous. 
                Always believe that compassion makes us strong. Kindness is power. And friendship is the tightest bond of all.
                <br><br>
                Just remember, real princesses fix each other’s tiara.
               <br><br>
               Welcome to my Vlog. Follow my page as I show you fun filled entertainment that is full of cuteness and laughter. 
                <br>        
                <br>    
                Don't forget to subscribe to my Youtube Channel to keep you updated.
               </p>
            </div>    
        </div>
        <div class="image-container">
            <img src="../../assets/images/lia.png" class="home-image" />
        </div>
    </div>
    
</section>