
<!-- navigation component -->
<nav-container></nav-container>

<section class="home-section" id="home" animate-scroll>
    <div class="home-container">
        <h1>
            <span class="home-heading">Thalia Nyora</span>
        </h1>
        <span class="heading-small"> LIVE | LOVE | SPARKLE</span>
    </div>
</section>

<!-- story component -->
<story-container id="story"></story-container>

<!-- youtube component -->
<youtube-container id="youtube"></youtube-container>

<!-- about component -->
<about-container id="about"></about-container>


